@import "primeicons/primeicons.css";

.expense-wrap{
    border-radius: 80px;
    margin: 4px 2px auto 5px;
}
.expense-wrap h3{
  font-size: large;
  background-color: rgb(206, 186, 86);
  display: flex;
  padding: 2px 10px 2px 5px;
  margin-left: 1px;
  margin-right: 2px;
  border-radius: 5px;
}
.switch {
    width: 100px;
    height: 34px;
    display: inline-block;
    position: relative;
    margin: 1px auto 1px auto;
    font-size: large;
}
  
.switch input {display:none;}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 60%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on{
  display: block;
  left: 35%;
}

input:checked + .slider .off
{display: none;}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

.date-label{
  display: flex;
  justify-content: center;
  font-size: large;
  /* margin-left: 20%; */
}

.amount-note input[type=number], input[type=text]{
  width: 100%;
  font-size: large;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  margin-top: 1px;
  width: 100%;
}
.options select{
    font-size: large;
    width: 100%;
    padding: 10px 20px;
    margin: auto 1rem auto 1rem;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
}
.options label{
  display: flex;
  font-size: large;
  margin-top: .8rem;
}
.button-wrap{
  display: flex;
  justify-content: center;
}
.button-wrap button{
  background: none;
  border: none;
  margin-right: 1rem;
}
.button-wrap button:hover{
  opacity: .8;
  transform: scale(1.5);
}
.button-wrap button:active{
  transform: translateY(4px);
  transition: ease-out;
}